{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-offset-4">
                <h3><strong>Email:</strong> {{ user.email }}</h3>
                <h3><strong>Name:</strong> {{ user.fullName }}</h3>
            </div>
        </div>
    </div>
{% endblock %}
