<div class="container body-content span=8 offset=2">
    <div class="well">
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <p><strong>Full name:</strong> {{user.fullName}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
            </div>
        </div>
    </div>
</div>