<form id="commentForm" action="#/createComment" method="post">
    <input type="hidden" name="postId" value="{{_id}}" />
    <label>Comment</label>
    <textarea name="content" type="text"></textarea>
    <input type="submit" value="Add Comment" id="btnPostComment">
</form>